body {
    background-color: #e6e2e23b;
}

label {
    display: block;
    margin-bottom: 8px;
}


select {
    display: block !important;
    opacity: 1 !important;
}

ul {
    list-style: none;
}

/*----- Navbar ----- */
nav i {
    font-size: 16px;
    height: 0px;
}

#navbar {
    margin-top: 2%;
    background-color: rgb(187, 30, 9);
    border-radius: 10px;

}

#logo {
    height: 70px;
    width: 70px;
}

#brandName {
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
}

#navAbout {
    text-align: end;
    font-family: 'Kanit', sans-serif;
}

.randomIcon {
    color: white;
}


/*----- Forms ----- */

.form-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#submitBtn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: #45a049;
}

.ingredient-section {
    padding-bottom: 20px !important;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    list-style: none;
}

.delete-btn-pos {
    right: 24px !important;
    bottom: 10px !important;
    position: absolute;
}

.edit-btn-pos {
    right: 24px !important;
    bottom: 60px !important;
    position: absolute;
}


.ingredient-section {
    position: relative;
}

.delete-section-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
}


.delete-ingredient-btn {
    top: 30px;
    position: relative;
    cursor: pointer;
    color: #f44336;
}


.icon-medium {
    font-size: 40px !important;
}

.delete-instruction-btn {
    top: 30px;
    position: relative;
    cursor: pointer;
    color: #f44336;
}


/* media queries */
@media (max-width:400px) {

    nav ul a {
        font-size: 10px;
    }

    #brandName {
        font-family: 'Great Vibes', cursive;
        font-size: 13px;
        margin-left: 20px;
    }

    #logo {
        height: 50px;
        width: 50px;
        display: inline-block;
        padding-right: 15px;
        padding-top: 10px;
    }

    .hide-text {
        display: none;
    }

    #randomBtn {
        padding-right: 0em;
        padding-left: 0.5em;
    }

    .card.small {
        height: 160px;
    }

    .text-small {
        font-size: 15px !important;
    }
}


@media (min-width:400px) and (max-width:600px) {

    nav ul a {
        font-size: 14px;
    }

    #brandName {
        font-family: 'Great Vibes', cursive;
        font-size: 16px;
    }

    #logo {
        height: 50px;
        width: 50px;
        display: inline-block;
        padding-right: 15px;
        padding-top: 10px;
    }

    .hide-text {
        display: none;
    }

    #randomBtn {
        padding-right: 0em;
        padding-left: 0.5em;
    }

    .card.small {
        height: 160px;
    }

    .text-small {
        font-size: 15px !important;
    }
}

@media (min-width:600px) and (max-width:800px) {
    #brandName {
        font-family: 'Great Vibes', cursive;
        font-size: 23px;
    }

    #logo {
        height: 60px;
        width: 65px;
        display: inline-block;
        padding-right: 15px;
        padding-top: 10px;
    }

    .hide-text {
        display: none;
    }

    #randomBtn {
        padding-right: 0em;
        padding-left: 0.5em;
    }
}

@media (min-width:800px) and (max-width:1000px) {
    #brandName {
        font-size: 32px;
    }
}

/*----- Home page -----*/
.card-image {
    max-height: 100% !important;
    position: relative;
    overflow: hidden;
}

.card-image:hover .card-title,
.card-image:hover .btn-floating.halfway-fab {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card-title,
.btn-floating.halfway-fab {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card-title {
    font-family: 'Great Vibes', cursive;
    font-size: 30px !important;
    text-shadow: 2px 2px 4px #000000;
}

.card {
    background-color: #f9f8f8;
}

.no-shadows {
    box-shadow: none !important;
}

/* ----- Recipe View ----- */

#recipeTitle {
    font-family: 'Great Vibes', cursive;
}

#recipeInfo,
nav ul li a {
    font-family: 'Kanit', sans-serif;
}

.strike {
    text-decoration: line-through;
}

.cursor-pointer {
    cursor: pointer;
}

#ingredientList li,
#method p {
    cursor: pointer;
}